<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Remote Me
  </h1>
</div>
<br />

<!--
total: {{ (jobs$ | async)?.length || 0 }}
TOTAL: {{ soJobs.length + ghJobs.length || 0}}-->

<input matInput type="text" placeholder="Search Text" [(ngModel)]="searchText" />
<button (click)="search();" mat-button color="primary">Search</button>

<div *ngIf="hasSearched === true">
  <div *ngFor="let obs of allObs$">
    <mat-accordion style="margin-top: 10px; margin-bottom: 10px;" *ngFor="let job of obs | async">
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div [ngStyle.xs]="{'font-size': '12px'}" fxLayoutAlign="center center" fxLayout="row">
              <img style="width: auto; height: 30px; top: 0;left: 0;" [src]="job.result_logo" />
              <h4 *ngIf="job.company" style="margin-right: 40px;">
                {{ job.company }}
              </h4>
            </div>
          </mat-panel-title>
          <!-- <mat-panel-description [ngStyle.xs]="{ display: 'none' }" fxLayoutAlign="left center">
            some info here
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-card style="background-color: lightgray;">
          <h3>{{job.title}}</h3>
          <p>Posted: {{job.created_at}}</p>
          <p>Apply: <a href="{{job.url}}">{{job.url}}</a></p>
          <div [ngStyle.xs]="{'font-size': '12px'}" [innerHTML]="job.description"></div>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>

</div>


<router-outlet></router-outlet>