<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Remote Me
  </h1>
  </div> 
  <br/>
 
    total: {{ (jobs$ | async)?.length || 0 }}

 

<input matInput type="text" placeholder="Search Text" [(ngModel)]="searchText" />
<button (click)="search();" mat-button
  color="primary">Search</button>

<mat-accordion style="margin-top: 10px; margin-bottom: 10px;"  
 *ngFor="let job of jobs$ | async">
    
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>        
        <div fxLayoutAlign="center center" fxLayout="row">
            <img style="width: auto; height: 50px; top: 0;left: 0;"
             [src]="'assets/images/so-icon.png'" /> 
          
              <div [ngStyle.xs]="{'font-size': '12px'}">
                  {{ job.title }}
              </div>
          
        </div>
        
          
      </mat-panel-title>
     <!-- <mat-panel-description [ngStyle.xs]="{ display: 'none' }" fxLayoutAlign="left center">
        some info here
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-card style="background-color: lightgray;">
      <div [ngStyle.xs]="{'font-size': '12px'}" [innerHTML]="job.description"></div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="(jobs$ | async)?.length==0">No records found.</div>




<router-outlet></router-outlet>
